
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: #9000A2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    background-color: #9000A2;
    color: white;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

section {
    padding: 80px 10%;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background-color: white;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
}

.button {
    display: inline-block;

    margin-top: 20px;
    padding: 12px 25px;

    background-color: #9000A2;
    color: white;

    text-decoration: none;
    border-radius: 5px;
}

.projects {
    display: flex;
    gap: 20px;
}

.project {
    flex: 1;

    padding: 25px;

    background-color: white;
    border-radius: 8px;
}

.project a {
    color: #9000A2;
}

h2 {
    font-size: 32px;
}